body{
  font-family: font-family: 'Roboto Slab', serif;
}

.sb-container{
  width: 60%;
  margin: 0 auto;
}

#about{
  background-color: #31BC9C;
  width: 100%;
  padding-bottom: 15px;
}

#portfolio{
  margin-bottom: 100px;
  margin-top: 100px;
}

.star .linee-white::after{
  content: '';
  display: inline-block;
  background-color: white;
  height: 4px;
  width: 15%;
  margin-left: 10px;
}

.star .linee-white::before{
  content: '';
  display: inline-block;
  background-color: white;
  height: 4px;
  width: 15%;
  margin-right: 10px;
}

.star-black .linee-black::after{
  content: '';
  display: inline-block;
  background-color: black;
  height: 4px;
  width: 15%;
  margin-left: 10px;
}

.star-black .linee-black::before{
  content: '';
  display: inline-block;
  background-color: black;
  height: 4px;
  width: 15%;
  margin-right: 10px;
}

/*******************
      HEADER  
 ******************/
header{
  background-color: #2C3E50;
  height: 75px;
}

h3 a{
  color: white;
  font-weight: bold;
}

.fa-bars{
  font-size: 30px;
}

.nav-link{
  font-weight: bold;
  color: white;
}

.star .fa-solid.fa-star{
  color: white;
}

.star-black i{
  font-size: 30px;
  vertical-align: middle;
}

.nav-link:focus, .nav-link:hover{
  color:#1ABC9C
}

/*******************
      JUMBOTRON  
 ******************/

.sb-jumbotron{
  background-color: #31BC9C;
  color: white;
}

.sb-jumbotron .image img{
  width: 250px;
}

h1{
  font-size: 60px;
  font-weight: bold;
}

.list-jumbo{
  font-size: 30px;
}

.star i{
  font-size: 30px;
  vertical-align: middle;
}


/*******************
        MAIN 
 ******************/
main .col img{
  width: 100%;
  border-radius: 5%;
}

h2{
  font-size: 45px;
  font-weight: 600;
}

.title-white{
  color: white;
  font-weight: 600;
}

.list-about{
  color: white;
  font-weight: 600;
}

/* FORM */
.ms-form input, .ms-form textarea{
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.ms-form input::placeholder, 
.ms-form textarea::placeholder{
  color: black;
}

.ms-form button{
  background: #1ABC9C;
  border: none;
}

.ms-form input:focus,
.ms-form textarea:focus{
  box-shadow: 0 1px 0 0 #31BC9C;
}

.btn.btn-success{
  padding: 10px 20px;
}


/*******************
       FOOTER  
 ******************/
footer{
  color: white;
}

.footer-top{
  background-color: #3A546D;
}
.footer-bottom{
  background-color: #2C3E50;
}

.icon-foot i{
  border: 1px solid white;
  border-radius: 100%;
  padding: 20px;
  margin-left: 10px;
}

h4{
  font-size: 25px;
  font-weight: 600;
  
}

.text-foot{
  line-height: 23px;
  font-size: 24px;
}

.text-color-foot{
  color: #1ABC9C;
}

.footer-bottom .fa-copyright{
  font-size: 12px;
}

footer li.nav-item {
  height: 42px;
  aspect-ratio: 1/1;
  border: 1px solid white;
  border-radius: 50%;
}